$userPrimaryColor: rgba(255, 255, 255, 0.6);
$userSecondaryColor: rgba(0, 0, 0, 0.6);
$userThirdColor: rgba(231, 76, 60, 1);
$mobileHeight: 607px;
$desktopHeight: 991px;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.mobile-menu {
    background-color: white;
    z-index: 100;
    width: 100vh;
}

h1 {
    font-size: 50px;

}

div h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px;
}

div h3 {
    font-size: 18px;
}

li {
    font-size: 14px;
}

p {
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 14px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}

.slider-description-extension {
    display: none;
}

.logo-img {
    height: 50px;
    width: 142px;
}

.container-main {
    position: relative;
    padding: 0;
    margin: 0;
    height: $mobileHeight;
}

.menu-container {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar-toggler-icon {
    color: red;
}

nav .navbar {
    position: absolute;
    padding: 0;
    margin: 0;
}

#slider-main {
    top: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
    height: $mobileHeight;
    width: 100%;
}

.indicator {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 30px;
    transition: all .4s;
}

.indicator:last-child,
.indicator:first-child {
    margin: 0;
}

.carousel-indicators {
    list-style: none;
    top: 88%;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 70px;
    height: 70px;
    background-color: white;
    position: relative;
    margin: 10px;
}

.carousel-caption {
    top: 15%;
    text-align: center;
}

.separator-carousel-item {
    width: 7px;
    height: 7px;
    background-color: $userThirdColor;
    border-radius: 50%;
    display: inline-block;
    margin: 16px;
    position: relative;
    &:before {
        background-color: rgba(255, 255, 255, 0.6);
        content: "";
        display: inline-block;
        height: 1px;
        position: absolute;
        width: 80px;
        margin: 3px 20px;
        -webkit-box-shadow: -120px 0px 0px 0px $userPrimaryColor;
        -moz-box-shadow: -120px 0px 0px 0px $userPrimaryColor;
        box-shadow: -120px 0px 0px 0px $userPrimaryColor;
    }
}

.buttons-carousel {
    width: 225px;
    height: 56px;
    border-radius: 5%;
    font-weight: 600;
}

.button-red {
    background-color: $userThirdColor;
    text-decoration: none;
    border: none;
    margin: auto;
    color: $userPrimaryColor;
    transition: all 1s;
    &:hover {
        color: $userPrimaryColor;
        background-color: transparent;
        border: 2px solid $userThirdColor;
    }
}

.button-transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $userPrimaryColor;
    display: none;
    color: $userPrimaryColor;
    margin-left: 30px;
    transition: all 1s;
    &:hover {
        color: $userSecondaryColor;
        background-color: $userPrimaryColor;
    }
}

a.carousel-control-next,
a.carousel-control-prev {
    width: auto;
    height: auto;
    margin: 5%;
}

.carousel-control-arrow {
    height: 45px;
    width: 45px;
    display: none;
    background-color: $userPrimaryColor;
    transition: all .4s;
    margin-bottom: 220px;
    .fas {
        line-height: 45px;
        font-size: 30px;
        color: $userSecondaryColor;
    }
}

.slide-1,
.slide-2,
.slide-3 {
    height: $mobileHeight;
    width: auto;
    background-size: cover;
    background-position: center bottom;
}

.anchor-icon {
    height: 66px;
    width: 66px;
    z-index: 110;
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 33px);
    left: calc(50% - 33px);
    background-color: #f4f5f9;
    text-align: center;
    animation-name: shadow-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: transform .8s ease-in-out;
    &:hover {
        transform: rotate(360deg);
    }

    .anchor-img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@keyframes shadow-blink {
    0% {
        box-shadow: 0 0 0 4px $userPrimaryColor;
    }
    50% {
        box-shadow: 0 0 0 0 $userPrimaryColor;
    }
    100% {
        box-shadow: 0 0 0 4px $userPrimaryColor;
    }
}

.feature-content {
    width: auto;
    height: auto;
    justify-content: space-around;
    display: block;
    margin-top: 20px;
}

.feature-card {
    padding-top: 80px;
    text-align: center;
    align-items: center;
    min-width: 185px;
    z-index: 1;
}

.feature-icon {
    line-height: 70px;
    position: relative;
    height: 70px;
    width: 70px;
    margin: auto;
}

.magic-border {
    position: absolute;
    height: 70px;
    width: 70px;
    margin: auto;
    border: 1px solid $userSecondaryColor;
    transition: all 1s ease-in-out;
    z-index: 100;
    &:hover {
        border: 1px solid $userThirdColor;
        transform: rotate(45deg);
    }
}

.feature-separator {
    width: 40px;
    border: 1px solid $userSecondaryColor;
}

.feature-description {
    font-family: 'Source Sans Pro', sans-serif;
    color: $userSecondaryColor;
}

.navbar-brand {
    margin: auto;
}

.button-red:hover,
.button-transparent:hover,
.indicator:hover {
cursor: pointer;
}

.carousel-control-arrow:hover {
    color: $userSecondaryColor;
    background-color: red;
}

.indicator:hover {
    background-color: $userPrimaryColor;
}


// MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
@media only screen and (max-width: 360px) {

    .slide-1 {
        background-image: url('/img/slide-bg-1-mobile.png');
    }
    .slide-2 {
        background-image: url('/img/slide-bg-2-mobile.png');
    }
    .slide-3 {
        background-image: url('/img/slide-bg-3-mobile.png');
    }
    .dark-overlay {
        background-image: url('/img/dark-overlay-mobile.png');
        width: inherit;
        height: inherit;
        background-position: inherit;
    }
}


@media only screen and (min-width: 361px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    p,
    li {
        font-size: 14px;
    }
    .navbar-brand {
        margin: 0;
    }
    .separator-carousel-item {
        margin: 48px;
    }
    p {
        padding-bottom: 30px;
    }
    .slide-1 {
        background-image: url('/img/slider-img-1.jpg');
    }
    .slide-2 {
        background-image: url('/img/slider-img-2.jpg');
    }
    .slide-3 {
        background-image: url('/img/slider-img-3.jpg');
    }
    .dark-overlay {
        background-image: url('/img/dark-overlay-bg.png');
        width: inherit;
        height: inherit;
        background-position: inherit;
    }
    .slider-description-extension {
        display: block;
    }
    .container-main {
        height: $desktopHeight;
    }
    #slider-main,
    .slide-1,
    .slide-2,
    .slide-3 {
        height: $desktopHeight;
    }
    .feature-content {
        justify-content: space-around;
        display: block;
    }
}


@media only screen and (min-width: 576px) {
    .carousel-control-arrow {
        display: block;
    }
}


@media only screen and (min-width: 768px) {
    .button-transparent {
        display: inline-block;
    }
    li a {
        color: white !important;
    }
    .feature-content {
        justify-content: space-around;
        display: flex;
    }
    .feature-card {
        display: inline-block;
    }
    .nav-link:hover {
        border-bottom: 2px solid $userThirdColor;
    }
}
